[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/JsonMapper"]
	path = thirdparty/JsonMapper
	url = https://github.com/carlcc/JsonMapper.git
[submodule "thirdparty/TPL"]
	path = thirdparty/TPL
	url = https://github.com/carlcc/TPL.git
